.container{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    flex-flow: row;
    justify-content: space-between;
   
   
   
}
.hr{
 
  width: 85%;
  margin-left: 7%;
  color: lightgrey;
}
.NavLink{
    text-decoration: none;
    color: black;
}
.NavLink:active{
    color: blue;
    text-decoration: underline;
}
