.containers{
    display: flex;
    justify-content: space-around;
    border: 2px solid black;
    width: 550px;
    height: 250px;
    padding: 10px;
}
.details{
    padding-left: 100px;
    padding-top: 20px;
}
.box-container{
   display: flex;
   justify-content: center;
}